.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--bg-color-accent);
  color: white;

  position: relative;

  transition: width 0.3s ease-in;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 8px;
  margin-top: 8px;
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  .switchers {
    flex-direction: column;
  }
}

.switchers {
  position: absolute;
  bottom: 16px;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

.collapseBtn {
  position: absolute;
  right: calc(-1 * var(--size-m) / 2);
  bottom: var(--size-m);
  border-radius: 50%;
}
