.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
  white-space: nowrap;
}

.input {
  max-width: 480px;

  flex-grow: 1;
  padding: 0 8px;
  border-radius: 4px;

  background: var(--bg-color-accent);
  color: white;

  border: none;
  outline: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}
